extends base

block content
	include header
	.block. 
		Lorem ipsum dolor sit amet consectetur adipisicing elit. <b>Sit</b> et dolores, quam dolorum ab unde aspernatur quaerat fugit nemo. Labore?
		fdsaff
	ul 
		li sdsfg